$mainColor: #0067F9;

.bar-divver {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: -100vw;
    right: 0;
    width: 300vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;

    p {
        margin-top: 4px;
        color: #bbc7d8;
        font-size: 12px;
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.Bar {
    background-color: $mainColor;
    transition: 800ms;
    height: 130px;
    width: 300vw;
    transform: rotate(0deg);
    transform-origin: center;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .loader {
        z-index: 100;
        border: 10px solid #ffffff;
        border: {
            right-color: #ffffff;
            top-color: rgba(255,255,255, 0.6);
            radius: 100%;
          }
        margin-right: 15px;
        height: 80px;
        width: 80px;
        animation: spin 800ms infinite linear;
    }
}

.Bar-diagonal {
    transform: rotate(30deg);
}

.Bar-setting-1 {
    margin-top: -20px;
}

.Bar-setting-2 {
    margin-top: -10px;
}

.Bar-setting-3 {
    margin-top: 0px;
}

@keyframes loading-move {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 5px
    }
}

.Bar-loading {
    transform: rotate(0deg);
    width: 80vw;
    margin-left: -20vw;
    animation: loading-move 700ms infinite ease-in-out alternate;
}

.Bar-success {
    transform: rotate(0deg);
    width: 130px;
    border-radius: 65px;

    .loader {
        border-color:rgba(255, 255, 255, 1);
    }
}