$mainColor: #0067F9;
$mainColor-active: #0059d4;
$mainColor-disable: #CDD5E1;

.main {
    position: relative;
}

.bottoms {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;

    p {
        font-size: 14px;
        color: $mainColor;
        font-weight: 800;
    }

    h1 {
        word-break: keep-all;
        font-size: 24px;
    }

    .btns {
        input[type=text] {
            margin-top: 12px;
            border: 0;
            border-bottom: solid 1px #CDD5E1;
            display: block;
            width: 100%;
            outline: none;
            box-sizing: border-box;
            padding: 4px;
            font-size: 24px;
            font-weight: 800;

            &::placeholder {
                color: #CDD5E1;
            }
        }
    }

    .main-btn {
        word-break: keep-all;
        cursor: pointer;
        box-sizing: border-box;
        margin-top: 24px;
        background-color: $mainColor;
        border-radius: 8px;
        padding: 12px 8px;
        font-weight: 800;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        width: 100%;
        -webkit-tap-highlight-color : transparent;
        transition: 100ms;

        &:active {
            background-color: $mainColor-active;
        }
    }

    .disable {
        cursor: default;
        background-color: $mainColor-disable;

        &:active {
            background-color: $mainColor-disable;
        }
    }
}